---
#--------------------------

title: տիգրան
tagline: առցանց տուն
description: անձնական բլոգ

url: 'https://tigransimonyan.com'
author: տիգրան # change to your full name
avatar: '' # support internet resources
email: 'info@tigransimonyan.com' # change to your email address

#--------------------------

# if your site type is Project Pages site, change below value to '/projectname'
baseurl: ''

# Change to your timezone › http://www.timezoneconverter.com/cgi-bin/findzone/findzone
timezone: Asia/Yerevan

# Prefer color scheme setting, available values:
#
#     dual   - Follow the system prefer color by default, and a toggle will display
#              in the left bottom of Sidebar, which used for switch the theme between dark and light.
#
#     light  - Use the light color scheme
#
#     dark   - Use the dark color scheme
#
theme_mode: dark

# boolean type, global switch for ToC in posts.
toc: true

paginate: 10

markdown: kramdown

highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts: # Rouge Options › https://github.com/jneen/rouge#full-options
    css_class: 'highlight'
    # default_lang: console
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

permalink: /posts/:title/

defaults:
  - scope:
      path: '' # An empty string here means all files in the project
      type: posts
    values:
      layout: post
      comments: true # Enable comments in posts.
      toc: true # Display TOC column in posts.
      location: Post
      breadcrumb:
        - label: Գրառումներ
          url: /
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: tags
    values:
      tab_active: Tags
      location: Tags
      breadcrumb:
        - label: Գլխաւոր
          url: /
        - label: Պիտակներ
          url: /tabs/tags/
  - scope:
      path: categories
    values:
      tab_active: Categories
      location: Categories
      breadcrumb:
        - label: Գլխաւոր
          url: /
        - label: Բաժիններ
          url: /tabs/categories/
  - scope:
      path: tabs
    values:
      layout: page
      dynamic_title: true # Hide title in mobile screens.
      breadcrumb:
        - label: Գլխաւոր
          url: /

sass:
  sass_dir: /assets/css
  style: compressed

compress_html:
  clippings: all
  comments: ['<!-- ', ' -->']
  endings:
    [
      html,
      head,
      body,
      dt,
      dd,
      rt,
      rp,
      optgroup,
      option,
      colgroup,
      caption,
      thead,
      tbody,
      tfoot,
      tr,
      td,
      th,
    ]
  profile: false
  blanklines: false
  ignore:
    envs: []

exclude:
  - vendor # Avoid Jekyll mistakenly read the vendor directory on Travis-CI's VM .
  - Gemfile.lock
  - Gemfile
  - tools
  - README.md

sitemap_exclude: # Sitemap will exclude the following items.
  fuzzy:
    - /assets/
  accurate:
    - /norobots/
    - /tabs/
    - /categories/
    - /tags/
    - /posts/
    - 404.html
    - feed.xml
    - sitemap.xml
    - robots.txt
    - redirects.json
