@font-face {
  font-family: 'Arm';
  src: url('../font/NotoSansArmenian-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arm';
  src: url('../font/NotoSansArmenian-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Arm';
  src: url('../font/NotoSansArmenian-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
