{% if page.layout == 'home' %}


{% elsif page.layout == 'page' %} 
  {% if page.name == 'tags.md' %}

  <link rel="preload" href="{{ '/assets/css/tags.css' | relative_url }}" as="style" />
  <link rel="stylesheet" href="{{ '/assets/css/tags.css' | relative_url }}" />

  {% elsif page.name == 'archives.md' %}

  <link rel="preload" href="{{ '/assets/css/archives.css' | relative_url }}" as="style" />
  <link rel="stylesheet" href="{{ '/assets/css/archives.css' | relative_url }}" />

  {% endif %}

{% elsif page.layout == 'tag' %}

  <link rel="preload" href="{{ '/assets/css/category-tag.css' | relative_url }}" as="style" />
  <link rel="stylesheet" href="{{ '/assets/css/category-tag.css' | relative_url }}" />

{% endif %}


<link rel="preload" as="style" href="{{ '/assets/css/post.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}" />
<link rel="preload" href="{{ '/assets/css/page.css' | relative_url }}" as="style" />
<link rel="stylesheet" href="{{ '/assets/css/page.css' | relative_url }}" />
<link rel="preload" href="{{ '/assets/css/home.css' | relative_url }}" as="style" />
<link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}" />