<footer class="d-flex w-100 justify-content-center">
  <div class="d-flex justify-content-between align-items-center">
    <div class="footer-left">

      <p class="mb-0">
        © {{ 'now' | date: "%Y" }} <b>{{ site.author }}</b>. բոլոր իրաւունքները պահպանուած են։
      </p>
      <div class="mt-5 text-center">
        <b>
          Գտի՜ր նմանատիպ այլ կայքեր
        </b>
        <div class="mt-2">
          🎲 <a target="_blank" href="https://ծիր.հայ/պատահական">բացել պատահական կայք</a> 🎲
        </div>
      </div>
    </div>

  </div>
  <!-- div.d-flex -->
</footer>